  <mat-toolbar color="primary">      
        <a mat-button [routerLink]="'/home'">Home </a>
        <div>
        <div *ngIf="!isLoggedIn">
        <a mat-button [routerLink]="'/register'">Sign Up </a>
        <a mat-button [routerLink]="'/login'"> Login </a>
        </div>
        <div *ngIf="isLoggedIn">
        <a mat-button [routerLink]="'/profile'">Current User </a>
        <a mat-button [routerLink]="'/fetchusers'">Users </a>
        <a mat-button (click)="logout()">LogOut</a>
       </div>
      </div>
  </mat-toolbar>

  <div>
    <router-outlet></router-outlet>
  </div>
